@font-face {
    font-family: 'natal' ;
    src: url('Christmas\ Tree\ Lights\ Demo.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    font-family:'natal';
    font-size: 3em;
    
}