@charset "UTF-8";

body{
    background-color: rgb(152, 204, 250);
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
    color: rgb(18, 3, 230);
    
}
h1#principal{
    text-align: center;
    background-color: rgb(21, 132, 230);
    color: aliceblue;
}
h2{
    color: rgb(63, 9, 212);
}
.basico{
    color: rgb(63, 9, 212);
    font-weight: bold
}
.intermediario{
    color: rgb(9, 73, 212);
}
.avancado{
    color: rgb(9, 212, 43);
}
.destaque{
    background-color: rgba(163, 163, 11, 0.678);
}